<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width'>
        <link rel='stylesheet' type='text/css' href='../static/css/bootstrap.min.css'>
        <link rel='stylesheet' type='text/css' href='../static/css/stylesheet.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type='text/javascript' src="{{ url_for('static', filename='js/script.js') }}"></script>
        <title>Download｜Website Blocker</title>
    </head>
    <body>
        <div class='container-fluid'>
            <header class='text-center text-uppercase'>
                <h1>website blocker</h1>
            </header>
            <div>
                <div class='row'>
                    <div class='col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 section centered'>
                        <form action="{{ url_for('savedata') }}" method='POST'>
                            <table class='text-uppercase'>
                                <tbody id='parent'>
                                    <tr>
                                        <th><label>working hours:</label></th>
                                        <th><select name="first_hour" required>
                                            <option value=''></option>
                                            <option value='6'>6</option>
                                            <option value='7'>7</option>
                                            <option value='8'>8</option>
                                            <option value='9'>9</option>
                                            <option value='10'>10</option>
                                            <option value='11'>11</option>
                                            <option value='12'>12</option>
                                            <option value='13'>13</option>
                                            <option value='14'>14</option>
                                            <option value='15'>15</option>
                                            <option value='16'>16</option>
                                            <option value='17'>17</option>
                                            <option value='18'>18</option>
                                            <option value='19'>19</option>
                                            <option value='20'>20</option>
                                            <option value='21'>21</option>
                                        </select> -
                                        <select name="last_hour" required>
                                            <option value=''></option>
                                            <option value='7'>7</option>
                                            <option value='8'>8</option>
                                            <option value='9'>9</option>
                                            <option value='10'>10</option>
                                            <option value='11'>11</option>
                                            <option value='12'>12</option>
                                            <option value='13'>13</option>
                                            <option value='14'>14</option>
                                            <option value='15'>15</option>
                                            <option value='16'>16</option>
                                            <option value='17'>17</option>
                                            <option value='18'>18</option>
                                            <option value='19'>19</option>
                                            <option value='20'>20</option>
                                            <option value='21'>21</option>
                                            <option value='22'>22</option>
                                        </select></th>
                                    </tr>
                                    <tr class='url_row'>
                                        <th><label>url:</label></th>
                                        <th><input type='text' name='url' placeholder='www.example.com' required></th>
                                    </tr>
                                    <tr id='add-btn'>
                                        <th></th>
                                        <th><button id='download' class='btn' type='button' onclick='createChild()'>+ Add</button></th>
                                    </tr>
                                    <tr>
                                        <th><br><button class='btn download-btn' type='submit'><i class='fa fa-download'></i> DOWNLOAD</button></th>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-justify section bottom'>
                        <p>Enter at least 4 versions of the <strong>URL</strong> you want to block during your working hours. To use the program, set the script as a task with "highest privileges" that runs every time the computer powers on. Use Windows Task Scheduler for Windows and Cron for Linux and Mac.</p>
                        <br>
                        <p class='text-capitalize'><strong><em>note:</em> this program only works for windows, winux, and mac. you need to have installed <a href='https://www.python.org/ftp/python/3.4.4/python-3.4.4.msi'>python</a>.</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>